            

                <div id="main" >
                  
                <div class="card-block">
                 
                    <form >
                      <h3 align="center" style="color: black;">Bucket Login..</h3>
                    
                    
                      
  
                      <div class="form-group" id="btn-container">
                          <button type="buton" class="btn btn-block bt btn-primary" (click)="fblogin()">
                            <i class="fa fa-facebook" aria-hidden="true"></i> 
                            Login with Facebook
                          </button>
                         
                        
                          <button type="button" class="btn btn-block bt btn-danger" (click)="twitterlogin()">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            Login with Twitter
                          </button>
  
                          <button type="button" class="btn btn-block bt btn-success"   (click)="gitlogin()">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            Login with Github
                          </button>
  
                          <button type="button" class="btn btn-block bt btn-warning" (click)="googlogin()">
                            <i class="fa fa-google" aria-hidden="true"></i>
                            Login with Google
                          </button>
                      </div>                  
                    </form>
                    
                </div>
              </div>